:root {
  --text-h1: 3.5rem;
  --text-h2: 2.75rem;
  --text-h3: 2.25rem;
  --text-h4: 1.75rem;
  --text-h5: 1.5rem;
  --text-h6: 1rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  --primary: #6378ff;
  --secondary: #5468ff;
  --ternary: #475fff;

  --plum: #512454;
  --amber: #4c3000;
  --orange: #f76b15;
  --grass: #46a758;
  --cyan: #23afd0;
  --indigo: #5472e4;
  --violet: #7d66d9;
  --pink: #de51a8;
  --ruby: #ec5a72;
  --tomato: #ec6142;
  --olive: #767d74;
  --lime: #bdee63;
  --sky: #7ce2fe;
}
